<%= notice %>

<section>
  <p>
    <strong>Title: </strong><%= @book.title %><br>
    <strong>Body: </strong><%= @book.body %>
  </p>
  <nav>
    <label><%= link_to "Edit", "/books/#{@book.id}/edit" %></label>
    <label> | </label>
    <label><%= link_to "Back", "/books" %></label>
  </nav>
</section>